<h3>All Coupons</h3>
<% @coupons.each do |coupon| %>
    <%= coupon.store %>
    <div><%= link_to coupon.coupon_code, coupon_path(coupon) %></div><br>#this is meant to be hyperlinked to its show page
<% end %>
